.EstiloSweet{
	font-family: serif;
	font-size: xx-large;
	text-align: center;
	width: 100%;
}


#menu{
	color : #000000;
	text-align: center;
	opacity: 100%;
}

footer{
	text-align: center; 
}

body{
	background-image: url("img3.jpg"); 
	background-repeat: repeat;
	background-position: center;
	position: relative;
	background-size: cover;
}
#content{
	margin-top: 50px;
	height: 800px;
	opacity: 95%;
}
#logo{
	width : 200px;
	height : 70px;
opacity: 95%;
}
#tarjetas{
	text-align: center;
	opacity: 90%;
	color : #ffffff;
	padding : 10px;
	width : 1100px;
	height : 700px;
	

}
.caracteristicas{
	font-family: 'PT Sans', sans-serif;
	font-size: large;
	font-style: normal;
  	font-weight: 400;
	text-align: left;
	width: 20%;
	color: white;
	float: right;
	margin-top: 15%;
	margin-left: 75%;
	position: absolute;
}
#content2{
	font-family: 'PT Sans', sans-serif;
	font-size: large;
	font-style: normal;
  	font-weight: 400;
	width: 20%;
	color: white;
}

#tablaCarros { 
	border: 2px solid #000000; 
	border-collapse: collapse; 
	margin: auto; 
    width: 80%; 
}
table{
	opacity: 100%;
}

h1,h2{
	font-size: large;
}

.ui.card.product{
	color:black;
}